 html {
    scroll-behavior: smooth;
  }

  body {
    background: #000000;
    color: rgb(255, 255, 255);
    font-family: 'josefin sans', sans-serif;
    overflow-x: hidden;
    position: relative;
    background-image: url(images/IMG_6516.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    background-attachment: fixed;
    margin: 0rem 0rem;
    z-index: 1;
  }



  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    gap: 0rem;
    height: 110vh;
    padding: 2rem 0rem;
    margin-top: 0rem;
    text-align: center;
    overflow: hidden;
  }

  .circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
  }


  .nav-icons {
    display: none;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(5px);
    gap: 20px;
    margin: 3rem 0;
  }

  .icon {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 100px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
  }

  .icon:hover {
    transform: scale(1.1);
  }

  .intro-text {
    margin-top: 5rem;
    padding: 0rem 0rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
  }

  .intro-text h1 {
    font-size: 4rem;
    color: rgb(105, 104, 104);

  }

  .intro-text h1 span {
    color: rgb(255, 255, 255);
    font-weight: 100;
    padding: 1rem 3rem;
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid grey;
  }

  .intro-text h2 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 200;

  }

  .intro-text h2 span {
    color: rgb(255, 255, 255);
    font-weight: 300;
    background-color: transparent;
    backdrop-filter: blur(3px);
  }

  #typed {
    color: rgb(0, 0, 0);
  }



  .intro-text p {
    color: rgb(105, 104, 104);
    margin-top: 0%;
    font-size: 2rem;
    margin: 0rem 4rem;
    padding: 0rem 4rem;
  }

  .intro-text .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 100%;
  }

  .intro-buttons .buttons {
    border: 2px solid cyan;
    background: transparent;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    justify-content: center;
    padding: 1rem 1rem;
    min-width: 120px;
  }


  .section {
    padding: 3rem 0rem;
    margin: 0rem 0rem;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    justify-content: center;
  }

  .section p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin: 0rem 2rem;
    font-weight: 350;
    text-align: center;
    padding: 0rem 2rem;
    max-width: 60%;
    justify-content: center;
  }

  .section p span {
    font-weight: 600;
  }

  .section-title {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 0rem 3rem;
    padding: 4rem 0rem;
    font-size: 4rem;
    font-weight: 100;
  }

  .skills-grid,
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }

  .edu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 0 0rem;
    overflow: hidden;

  }

  .edu-card {
    border: 1px solid rgba(150, 150, 150, 0.2);
    border-radius: 20px;
    padding: 4rem 2rem;
    margin: 0rem 1rem;
    width: 250px;
    backdrop-filter: blur(4px);
    background: rgb(202, 202, 202);
    background-image: url(images/hero\ blur\ img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .edu-card h3 {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }

  @media (min: 768px) {

    .section {
      display: flex;
      width: 100%;
    }
  }



  .contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 0.8rem;
    background: rgb(190, 190, 190);
    border: 1px solid transparent;
    border-radius: 10px;
    color: rgb(0, 0, 0);
  }

  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: rgb(110, 110, 110);
  }

  .contact-form button {
    background: rgb(64, 150, 163);
    color: rgb(240, 231, 231);
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    transition: transform 0.3s ease;
    font-family: 'josefin sans', sans-serif;

  }

  .contact-form button:hover {
    background: rgb(64, 150, 163);
    transform: scale(1.01) translateY(-2px);
  }

  .slide-in-left,
  .slide-in-bottom {
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.6s ease-out;
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  .buttons {
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-top: 0px;
    position: relative;
  }

  .buttons .btn {
    padding: 1rem 1.5rem;
    background: rgb(119, 119, 119);
    position: relative;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
    z-index: 1;
    pointer-events: all;
    margin-top: 0rem;
  }

  .buttons :hover {
    background: rgb(255, 255, 255);
    transform: translateY(-4px) scale(1.01);
    color: black;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    padding: 1.2rem;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: transparent;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(235, 233, 233);
    align-items: center;
    box-sizing: border-box;
  }

  .card-title {
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
    color: rgb(68, 68, 68);
  }

  .card img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    object-position: center;
    margin-top: 1rem;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px rgb(71, 71, 71));
    transition: filter 0.3s ease;
  }

  .card:hover {
    background: transparent;
    transform: translateY(-5px);
    z-index: 1;
    outline: none;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      background-size: cover;
    }

    .hero {
      height: 80vh;
    }

    .intro-text {
      padding: 0rem 0rem;
      margin: 4rem 0rem;
    }

    .intro-text h1 {
      font-size: 4rem;
    }

    .intro-text p {
      padding: 0rem 0rem;
    }
  }

  @media (max-width: 768px) {
    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 80vh;
    }

    .intro-text {
      margin: 0rem 0rem;
      padding: 1rem 0rem;
    }

    .intro-text p {
      margin: 0rem 1rem;
      padding: 0rem 0rem;
      margin-top: 0%;
      font-size: 1rem;
    }

    .icon-container {
      display: none;

    }

    .nav-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      color: black;
    }
.nav-icons .icon{
  color: black;
}
    .circle-wrapper {
      padding: 0rem 0rem;
    }

    .circle {
      height: 200px;
      width: 200px;
    }

    .section p {
      font-size: 1.3rem;
    }

    .card {
      padding: 1rem;
      border: none;
    }

    .card-title {
      font-size: 24px;
    }

    .card img {
      max-height: 180px;
    }
  }

  /* Mobile (even more compact) */
  @media (max-width: 480px) {
    .card {
      padding: 0.5rem;
      border: none;
    }

    .card-title {
      font-size: 18px;
    }

    .card img {
      max-height: 120px;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(90, 90, 90);
    color: rgb(255, 254, 254);
    text-align: right;
    padding: 1rem 0;
    font-size: 1rem;

  }

  @media (max-width: 768px) {
    body {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 50%;
    }

    .nav__list {
      display: none;
      position: fixed;
      right: 0;
      top: 100%;
      background-color: rgba(179, 177, 177, 0.3);
      backdrop-filter: blur(10px);
      flex-direction: column;
      width: 60vw;
      padding: 2rem 2rem;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      gap: 3rem;
      z-index: 1000;
      transition: transform 3s ease;
    }
.nav__link{
  color: black;
  font-weight: 300;
}

    .nav__list.active {
      display: flex;
      transform: translateX(20px);
    }

    .nav__logo {
      font-size: 1.2rem;
    }

    .nav__toggle {
      display: flex;
    }

    #typed {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 30px;
    }

    .section-title {
      font-size: 3rem;
      justify-content: center;
    }

  }